body {
	position: relative;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.button {
	color: red;
}

.cancel {
	display: none;
}

.loading .cancel {
	display: block;
}

.preloader {
	position: absolute;
	top: 200px;
	left: 50%;
	display: none;
	width: 100px;
	height: 100px;
	border: 1px solid red;
	animation-duration: 13s;
}

.loading .preloader {
	display: block;
	animation-name: rotate;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 200px;
}

.card {
	display: flex;
	flex-direction: column;
	width: 20%;
	min-width: 200px;
	height: 300px;
	padding: 20px;
	border: 1px solid red;;
}

.card__item {
	margin-top: 10px;
}

.statistics {
	margin-top: 20px;
	color: red;
}

 @keyframes rotate {
	from {
		transform: rotate(0);
	}
	
	to {
		transform: rotate(180deg);
	}
 }
